---
const {
	src
} = Astro.props
---
<div
	class="bg-center from-coral xl:w-[520px] xl:h-[440px] lg:w-[400px] sm:h-[360px] to-coral bg-cover bg-blend-hue rounded-xl h-[200px]"
	style={`background-image: linear-gradient(to top, var(--tw-gradient-stops)), url(${src})`}
></div>